@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;700&family=Livvic:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;

}

/* PERSONAL STYLING STARTS HERE */

header {
  position: absolute;
  width: 100%;
  height: 15vh;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to top, hsl(130, 30%, 35%), hsl(130, 30%, 25%));
  opacity: .8;
  box-shadow: 0px 4px 10px hsl(130, 30%, 10%);
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 10vh;
  background: linear-gradient(to top, hsl(130, 30%, 25%), hsl(130, 30%, 35%));
  opacity: .7;
  box-shadow: 0px -4px 10px hsl(130, 30%, 10%);
}

#favorite-link, #top-link {
     color: rgba(245,245,230);
     text-decoration: underline;
     font-size: 24px;
     font-weight: 700;
     font-family: 'KoHo', sans-serif;
}

#search-bar {
  font-family: 'KoHo', sans-serif;
  color: rgba(245,245,230, 1);
  font-size: 18px;
  font-weight:700;
}

#search-bar, input {
  font-family: 'KoHo', sans-serif;
  font-size: 14px;
  text-align: center;
  opacity: 1;
}

#select-time-bar  select {
  font-family: 'KoHo', sans-serif;
  height: 25px;
  text-align-last: center; 
}

body {
  padding-top: 10%;
  background: url('./images/carrots-food-fresh-freshness-616404.jpg');
  background-size: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}



h1 {
 color: rgba(245,245,230);
 font-family: 'KoHo', sans-serif;
 font-size: 34px;
 font-weight: 700;
}

#recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 5% 10% 10% 10%;
}

#recipe-list li {
    margin: 1rem;
    text-align: center;
 }
 
#recipe-list li p {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
}

.scene {
  width: 250px;
  height: 300px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 5%;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 2px 4px 10px hsl(130, 30%, 10%);
}

.card__face--front {
  background: linear-gradient(to bottom, hsl(130, 30%, 35%), hsl(130, 30%, 25%));
  opacity: 0.8;
  display: grid;
  grid-template-rows: 20% 80%;
}

.card__face--back {
  background: linear-gradient(to top, hsl(130, 30%, 35%), hsl(130, 30%, 25%));
  opacity: 0.9;
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
}

.card__face--front p {
  font-family: 'Livvic', sans-serif;
  color: rgba(245,245,230,.85);
  font-weight: 700;
}

.card__face--back p {
  font-size: 26px;
  font-family: 'Livvic', sans-serif;
  color: rgba(245,245,230,.85);
  font-weight: 400;
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 1em;
}

.scene:hover .card{
    transform: rotateX(180deg);
}

.card__face--back a {
  text-decoration: none;
  display: inline-flex;
  align-self: center;
  background-color: rgba(245,245,230,.85);
  padding: 0.5em;
  margin-bottom: 2em;
  color: hsl(130, 50%, 15%);
  font-family: 'Livvic', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 2px hsl(130, 50%, 15%);
  transition: transform 1s;
}

.card__face--back a:hover {
  transform: scale(1.02)
}

.card__face--back button {
  background: none;
  border: none;
  font-size: 40px;
  color: rgba(245,245,230,.85);
  position: absolute;
  right: 15px;
  bottom: 15px;
  transition: transform 1.5s;
}

.card__face--back button i:hover {
  transform: scale(1.02)
}


